<header>
  <mat-toolbar color="primary">COVID-19</mat-toolbar>
</header>

<main role="main" class="container">

  <div class="mt-5">
    <!-- <h4>Basic mat-select</h4> -->
    <form #ctryForm="ngForm">
      <mat-form-field>
        <mat-label>SELECT COUNTRY</mat-label>
        <mat-select name="ctry" [formControl]="selectedCountryControl" (ngModelChange)="onSelectCoutry(selectedCountryControl.value)">
          <mat-option *ngFor="let country of countries" [value]="country.value">
            {{country.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{covidData.country}}</mat-card-title>
        <!-- <img [src]="countryFlag" [alt]="covidData.country" class="flg"> -->
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content class="d-flex p-4">
          <div>
            <strong>
              Deaths :
            </strong>
            {{covidData.deaths}}
          </div>
          <div>
            <strong>
              Cases :
            </strong>
             {{covidData.cases}}
          </div>
      </mat-card-content>
      <!-- <mat-card-actions> -->
        <!-- <button mat-button>LIKE</button> -->
        <!-- <button mat-button>SHARE</button> -->
      <!-- </mat-card-actions> -->
    </mat-card>
  </div>

</main><!-- /.container -->

<footer></footer>
