.example-card {
  max-width: 600px;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.flg {
  width: 25px;
  height: 25px;

}


mat-card-content {
  flex-direction: row;
  justify-content: space-around;
}
